<div class="leaderboard">
    <i class="fa fa-close" (click)='closeLeaderBoard()'></i>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>RANK</th>   
                <th>NAME</th>
                <th>SCORE</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let row of leaderBoardData; let i = index;'>
                <td>{{ i + 1}}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.score }}</td>
            </tr>
        </tbody>
    </table>
</div>