@import 'src/styles.scss';

.gameContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

app-gametable {
    height: 95vh;
    width: 45vw;
    margin-right: 10vw;
}

.endCard {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: inherit;
    height: 12rem;
    width: 25rem;
    background-color: $playerDetails;
    color: $shadowColor;
    border-radius: 1rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 1em;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
}

.endButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.endButtons > button {
    font-size: 0.5em;
    height: 2.5em;
    width: 7em;
    margin: 1em;
}

.gameContainerRight {
    display: flex;
    flex-direction: column;
    height: 70vh;
}

.gameContainerRight > app-navicons {
    margin: 8%;
    height: 70%;
}

@media screen and (max-width: 1000px) {
    .gameContainer {
        flex-direction: column-reverse;
    }
    app-gametable {
        font-size: smaller;
        width: 90vw;
        height: 60vh;
        margin-bottom: 5vh;
        margin-right: 0 !important;
        margin-top: 0 !important;
    }
    .gameContainerRight {
        width: 90vw;
        flex-direction: row;
        align-items: center;
        height: 30vh;
    }
}