<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <!-- <link rel="stylesheet" href="style.css"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Home</title>
    </head>
    <body>
        <div id = "mainpage">
            <button id="rules" class="indexbtn">Rules<br><i class="material-icons" style="font-size: 48px;">&#xe241;</i></button>
            <button id="play" class="indexbtn"> Play <br><i class="fa" style="font-size: 48px;">&#xf04b;</i></button>
            <button id="lboard" class="indexbtn"> LeaderBoard <br><i class="fa" style="font-size: 48px;">&#xf091;</i> </button>
        </div>
        <div id = "getname">
            <form action="{{ url_for('start') }}" method="POST">
                <span id="close"><i class="fa">&#xf00d;</i></span><br>
                <Label style="font-size: 24px;"> What's your name? </Label>
                <input type="text" spellcheck="false">
                <input type="submit" value="Play" class="btn btn-dark">
            </form>
        </div>
        <script>
            window.onload = function() {
                document.getElementById("close").onclick = function() {
                    document.getElementById("mainpage").style.filter = "none";
                    document.getElementById("getname").style.display = "none";
                }

                document.getElementById("play").onclick = function() {
                    document.getElementById("mainpage").style.filter = "blur(5px)";
                    document.getElementById("getname").style.display = "block";
                }
            }
        </script>
    </body>
</html>