@import 'src/styles.scss';

.navButton {
    height: 50% !important;
    width: 100%;
    cursor: pointer;
    border-radius: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin: 0.25em;
    box-shadow: 0 0 0.25em $shadowColor;
}

.navIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 30vh;
    width: 17vw;
}

.home {
    background-color: $rulesCard;
}

.restart {
    background-color: $leaderboardCard;
}


@media screen and (max-width: 1000px) {
    .navIcons {
        height: 20vh;
        width: 35vw;
    }
    .navButton {
        font-size: 1.5rem;
    }
}